**/.pbi/localSettings.json
**/.pbi/cache.abf
# Power BI
*.pbix
*.pbit
.pbi/
*.lock
*.pptx
*.svg
.Icons/
*Executive Background.svg
*Executive Background2.svg
*Executive Background3.svg
*Executive Background4.svg
*Other Reports.svg